
body{
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    
}
ul{
    padding: 0;
    margin-bottom: 0;
}
ul li{
    border: 1px solid  rgb(123, 117, 117); 
    list-style: none;
    padding: 5px;
    width: 50%;
    font-family: 'FontAwesome'
    
}
h1{text-align: center; font-family: 'FontAwesome';} 
input{border: none; width: 100%; }


.fa-solid.fa-trash {
    font-size: 1em; 
    color: rgb(218, 14, 14); 
    border: none;
  }
  
  button{
    border: none;
    background: none;
    float: right;
  }
  ul {
    justify-items: anchor-center
  }
  li{
    background-color: white;
  }